# """
# Copyright (c) 2016-2017 LandGrey (https://github.com/LandGrey/pydictor)
# License: GNU GENERAL PUBLIC LICENSE Version 3
# """
#
# [ passcraper white list]
# if raw word in white list, it will be remove before the extend plug runs
# word length at least 5
#
abort
about
after
alert
align
alpha
alter
amaze
apple
apply
arial
array
arrow
aside
async
award
baidu
beian
blank
block
board
break
brush
build
cache
catch
cdata
chart
cheat
check
china
class
clean
clear
click
close
cloud
color
count
cycle
debug
defer
ecard
email
embed
emoji
empty
endif
enter
entry
equiv
error
event
every
false
fanyi
feeds
first
fixed
flash
float
focus
forms
forum
foxit
frame
globe
gmail
graph
group
hello
house
hover
html5
https
icons
image
index
inner
input
inset
inter
ios10
items
label
large
limit
links
linux
local
login
logos
macos
match
media
model
money
month
mouse
mssql
music
mysql
nginx
notes
opera
other
outer
owind
paged
pager
pages
param
phone
photo
pixel
plane
pnbtn
posts
press
query
quote
ready
refer
regex
reset
right
round
scale
shape
share
shtml
sizes
skins
small
solid
sound
split
spost
stars
start
stats
store
strip
style
suite
super
swift
table
theme
thumb
tieba
title
today
token
tools
topic
touch
unity
value
video
views
weibo
wenku
while
white
width
world
write
wrong
xhtml
xmlns
action
active
alerts
alipay
aliyun
always
apache
append
assets
author
avatar
banner
base64
bdlogo
beacon
before
bigger
blinks
border
bottle
bottom
buffer
button
cached
canvas
center
change
chrome
circle
client
coming
common
concat
config
conter
cookie
corner
create
curren
cursor
custom
danger
dashed
delete
device
diggit
direct
docker
domain
dotted
douban
enable
escape
exists
expand
export
fading
failed
feedly
ffffff
filter
finder
follow
footer
format
github
global
golang
google
hadoop
handle
hao123
header
height
hidden
ignore
ilogin
images
import
indent
inline
insert
inside
invite
iphone
ispost
itunes
jianyi
joinus
jquery
larger
latest
layout
length
letter
linkbg
listen
loader
locale
lookup
mailto
margin
medium
method
middle
minmax
mobile
narrow
native
newest
nodeid
normal
notice
nowrap
object
office
offset
onblur
online
onload
opener
option
origin
output
padded
pagead
parent
people
pinned
pinyin
please
plugin
portal
prompt
public
python
radius
random
rating
reader
readme
regexp
region
reload
remove
repeat
report
restop
result
return
reward
safari
sample
school
screen
script
scroll
search
select
server
sestat
shared
signed
simple
slider
smiley
social
source
speech
spring
stable
static
status
stoken
street
strict
string
strong
struts
styles
submit
subnav
svgext
switch
taobao
target
themes
thread
toggle
tomcat
tracer
typeof
unfold
unsafe
update
upload
usemap
valign
visual
webkit
wechat
weekly
weight
weixin
wetest
widget
window
writer
xhtml1
xmlrpc
yomail
youdao
yundun
yunduo
zhidao
aborted
aboutus
actions
addthis
allowed
analyze
android
archive
article
avatars
blognav
bookout
bootcss
capable
charset
chevron
chinese
clearer
closure
colored
concept
confirm
connect
contact
contain
content
context
control
correct
counter
cropped
current
darkred
default
definer
desktop
digital
disable
disp1ay
display
doctype
dynamic
element
english
expires
factory
favicon
feature
finally
firefox
floatad
friends
gallery
gettime
headers
indexof
inherit
initial
instant
isindex
keyword
lemoned
lengths
license
loading
logging
mailkit
matches
maximum
message
mingdao
minimum
missing
monthly
movetop
mozilla
newicon
nocache
onclick
onfocus
onmouse
orderby
outline
padding
pagenum
piclist
picture
plugins
pointer
polling
powered
primary
privacy
profile
publish
ratings
referer
refresh
release
replace
reports
request
require
respond
restart
results
seconds
section
service
setname
settime
setting
siteapp
solidot
station
subject
success
summary
support
tagline
timeout
toplist
trigger
twitter
unknown
uploads
version
visited
warning
website
welcome
windows
without
wrapper
writing
writter
wwwhome
yiqixie
absolute
abstract
academic
alphanum
appsales
archiver
archives
argument
baseline
behavior
bookmark
btnhover
calendar
campaign
category
changing
collapse
colorful
comments
complete
compress
database
datatype
dateline
datetime
describe
disabled
discover
document
download
dropdown
exchange
expanded
explorer
extended
external
extstyle
facebook
fastcopy
favicons
favorite
featured
feedback
filltext
finished
freeware
friendly
function
handheld
homepage
hospital
hyperapp
iconfont
includes
keywords
language
location
mainpage
manifest
midnight
mobinode
morelink
noborder
nofollow
noscript
opendata
outbound
overflow
pagenavi
pagesize
pageview
passport
pingback
platform
position
postlist
prefetch
previous
promoted
property
protocol
redirect
referrer
register
relative
requests
required
research
resource
response
restrict
security
selected
separate
services
shopping
shortcut
showpics
sitehome
sitelink
sketches
softlist
solution
standard
strategy
strength
supports
tabindex
template
triangle
unescape
username
vertical
viewport
alternate
classroom
container
copyright
listening
miitbeian
questions
separator
shortcuts
translate
undefined
appearance
background
decoration
javascript
responsive
stylesheet
suggestion
application
description
placeholder
transparent
transitional
enabled
fonts
youtube
videos
sharing
thumbs
ticker
notification
fragment
signin
onsubmit
onkeydown
later
unlike
attrs
movie
playing
startup
